{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">Adsense域名管理 > 广告域名列表 <span class="page-pretitle"> (用于跳转GotoUrl.php中间页展示广告，域名必须在Google adsense后台过审，否则即便设置了也不能展示广告。备注: Adsense账号和域名过Adsense流量审核需要消耗一定的流量和时间，如果流量在3W以下，建议将所有流量都集中在一个账号和一个域名下。)</span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>adsense_domain</th>
            <th>adsense_switch</th>
            <th>adsense_txt</th>
            <th>note</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="none" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/adsense/edit?itemid={$vo.itemid}">[=]</a></td>
              <td>{$vo.adsense_domain|raw}</td>
              <td>{$vo.adsense_switch|raw}</td>
              <td>{$vo.adsense_txt|raw}</td>
              <td  tyle="max-width: 200px;overflow: hidden;">{$vo.note|raw}</td>
              <td><a href="/{$admin_path}/adsense/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}