{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">Adsense域名管理 > 编辑域名<span class="page-pretitle"> (用于跳转GotoUrl.php中间页展示广告，域名必须在Google adsense后台过审，否则即便设置了也不能展示广告)</span></span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/adsense/editpost">
                <input type="text" class="form-control" name="itemid"  value="{$data[0]['itemid']}" style="display: none;">

                <div class="mb-3">
                    <label class="form-label page-pretitle">adsnese_domain (已经过审的域名，不带http和www，域名字符全部小写，如:m5.gs)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="adsense_domain"  value="{$data[0]['adsense_domain']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">adsense_txt (要投放广告账号下的ads.txt内容文本)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="adsense_txt"  value="{$data[0]['adsense_txt']}" placeholder="">
                    </div>
                </div>


                
                <div class="mb-3">
                    <label class="form-label page-pretitle">adsense_code (要投放账号下的adsense广告代码)</label>
                    <div class="input-group mb-2">
                    <textarea class="form-control" rows="6" name="adsense_code"  style="height: 150px;">{$data[0]['adsense_code']}</textarea>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">adsense_switch (当值为1时跳转页面就会选择数据库此值为1的值进行随机跳转，当前域名是否用于GotoUrl.php随机中间页域名逻辑部分随机调用，1为是，0为否。当值设置为1时，必须要在tp_domain中将roblox_index值设置为1,其核心思想就是展示adsense的广告域名不显示shortener的页面，而是展示roblox页面，规避adsense后端审查。)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="adsense_switch"  value="{$data[0]['adsense_switch']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">note (备注信息，如:备注当前域名正在投放哪个Adsense账号的信息和名称，最好也带上修改时间，此项可留空)</label>
                    <div class="input-group mb-2">
                    <textarea class="form-control" rows="3" name="note"  style="height: 100px;">{$data[0]['note']}</textarea>
                    </div>
                </div>


                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}
