{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
        <span class="card-title">黑名单 > 添加规则<span class="page-pretitle"> (主要是针对黑名单域名生成对应的屏蔽正则规则，用户可支付USDT解封)</span></span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/black_url/editpost">
                <input type="hidden" name="itemid" value="{$data[0]['itemid']}"/>
                <div class="mb-3">
                    <label class="form-label page-pretitle">itemid (数据对应数据库的itemid)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control bg-gray-200" disabled name="itemid"  value="{$data[0]['itemid']}" placeholder="">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label page-pretitle">pattern (正则规则，多个规则可用"|"隔开)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="pattern"  value="{$data[0]['pattern']|raw}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">black_url (原始的要屏蔽的黑名单URL)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="black_url"  value="{$data[0]['black_url']|raw}" placeholder="">
                    </div>
                </div>


                
                <div class="mb-3">
                    <label class="form-label page-pretitle">price (需要支付的解封价格)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="price"  value="{$data[0]['price']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">pay_time (支付的时间戳: {$data[0]['pay_time']|date="Y-m-d H:i:s"})</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="pay_time"  value="{$data[0]['pay_time']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">expire_time (支付后的过期时间: {$data[0]['expire_time']|date="Y-m-d H:i:s"})</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="expire_time"  value="{$data[0]['expire_time']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">notice (页面提示)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="notice"  value="{$data[0]['notice']}" placeholder="">
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">timestamp (当前规则添加时间戳: {$data[0]['timestamp']|date="Y-m-d H:i:s"})</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="timestamp"  value="{$data[0]['timestamp']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">note(备注)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="note"  value="{$data[0]['note']}" placeholder="">
                    </div>
                </div>


               

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}
