{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">黑名单 > 规则列表 <span class="page-pretitle"> (主要是针对黑名单域名生成对应的屏蔽正则规则，用户可支付USDT解封)</span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>pattern</th>
            <th>black_url</th>
            <th>price</th>
            <th>pay_time</th>
            <th>expire_time</th>
            <th>timestamp</th>
            <th>note</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="none" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/black_url/edit?itemid={$vo.itemid}">[=]</a></td>
              <td style="max-width: 200px;overflow: hidden;">{$vo.pattern}</td>
              <td  style="max-width: 200px;overflow: hidden;">{$vo.black_url}</td>
              <td>{$vo.price}</td>
              <td>{$vo.pay_time|date="Y-m-d H:i:s"}</td>
              <td>{$vo.expire_time|date="Y-m-d H:i:s"}</td>
              <td>{$vo.timestamp|date="Y-m-d H:i:s"}</td>
              <td style="max-width: 200px;overflow: hidden;">{$vo.note}</td>
              <td><a href="/{$admin_path}/black_url/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}