{include file='header'}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <span class="card-title">短链查询 </span>
        </div>

        <div class="card-body">
            <div class="col-md-5 col-12">
                <div class="mb-3">
                    <form method="post" action="/{$admin_path}/shortener/querypost">
                        <label class="form-label page-pretitle">短链查询（直接输入short_url查询,长度为6、7、8位均可）</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control" name="short_str"  placeholder="Search for short_str">
                        <button class="btn" type="sumbit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-12 mt-5">
                <div class="mb-3">
                    <form method="post" action="/{$admin_path}/shortener/querypost_like">
                        <label class="form-label page-pretitle">字符like查询(数据库sql中的like语句查询字符串，主要匹配数据库url字段)</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control" name="like_str" placeholder="Search for like">
                        <button class="btn" type="sumbit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-12 mt-5">
                <div class="mb-3">
                    <form method="post" action="/{$admin_path}/shortener/querypost_in">
                        <label class="form-label page-pretitle">字符串in批量查询(用于Google Adsense后台的报警短链，多个字符串使用空格或者逗号隔开，主要匹配数据库short_url字段)</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control" name="in_str" placeholder="Search for short_str">
                        <button class="btn" type="sumbit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{include file='footer'}