{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">短链管理 > 添加短链</span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/shortener/addpost">
                <div class="mb-3">
                    <label class="form-label page-pretitle">site_id (站点site_id,域名指定site_id请参照tp_domain中的itemid数据)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="site_id" value="" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">short_url (生成后的短链接）</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="short_url" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">url (目标url)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="url" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">hits (点击数）</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="hits" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">remote_ip (用户远程ip)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="remote_ip" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">timestamp (时间戳）</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="timestamp" value=""  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">middle_page (是否展示中间页，1为展示，0为不展示，默认为1)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="middle_page" value="0"  placeholder="">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label page-pretitle">allow_spider_jump (否允许蜘蛛或爬虫是否自动跳转，1为跳转，0时只要是蜘蛛访问直接404，用户正常显示(不想删除链接而google又警示时就设置为0)，默认为1)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="allow_spider_jump" value="1"  placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">is_404 (1为直接展示404页面,用户和蜘蛛都不能访问,9用于处理被标识为危险的页面,0为正常展示，默认为0.)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="is_404" value="0"  placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">status (状态码,默认为1,0为不可访问)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="status" value="1" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">redis_index (是否将数据库缓存在redis中,1为已经缓存,0为未缓存,默认为0)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="redis_index" value="0"  placeholder="">
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}
