{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">短链管理 > 查询列表 </span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>access_url</th>
            <th>short_url</th>
            <th>hits</th>
            <th>linkurl_site</th>
            <th>remote_ip</th>
            <th>country</th>
            <th>date</th>
            <th>last_date</th>
            <th>accept_language</th>
            <th>is_pc</th>
            <th>status</th>
            <th>redis_index</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="none" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/shortener/edit?itemid={$vo.itemid}">[=]</a></td>
              <td>{$vo.access_url}</td>
              <td><a href="/{$admin_path}/referer/querypost?short_str={$vo.short_url}">{$vo.short_url}</a></td>
              <td>{$vo.hits}</td>
              <td><a href='{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}' target="_blank">{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}</a></td>
              <td style="max-width: 100px;overflow: hidden;">{$vo.remote_ip}</td>
              <td style="max-width: 80px;overflow: hidden;">{$vo.country}</td>
              <td>{$vo.timestamp|date='Y-m-d H:i'}</td>
              <td>{if $vo.last_access_timestamp eq 0}None{else}{$vo.last_access_timestamp|date='Y-m-d H:i'}{/if}</td>
              <td style="max-width: 80px;overflow: hidden;">{$vo.accept_language}</td>
              <td>{$vo.is_pc}</td>
              <td>{$vo.status}</td>
              <td>{$vo.redis_index}</td>
              <td><a href="/{$admin_path}/shortener/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}