{include file="/header_1" /}
<main>
    <section id="content">
    <h1>{$Think.lang.counter_index_h1}</h1>
    <p>{$Think.lang.counter_index_description}</p>
    </section>
    <section id="urlbox">
    <br><br>
    <form action="/url-total-clicks" method="get">
    <div id="formurl">
    <input type="text" name="url" placeholder="{$Think.lang.counter_search_box_input}">
    <div id="formbutton">
    <input type="submit" value="{$Think.lang.counter_search_box_button}">
    </div>
    </div>
    </form>
    <p style="padding: 0 50px;">{$Think.lang.counter_example}: https://m5.gs/WktJWm</p>
    </section>
    <section id="content">
    <p>* {$Think.lang.counter_footer_description}</p>
    </section>
</main>
{include file="/footer_1" /}