{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">视频管理 > 编辑视频<span class="page-pretitle"> (<a href="{$data[0]['youtube_url']|raw}" target="_blank">点击查看</a>)</span></span>
    </div>

    <div class="card-body">
        <div class="col-sm-12 col-md-10 col-xl-6">
            <form method="post" action="/{$admin_path}/youtube/editpost">
                <input type="text" class="form-control" name="itemid"  value="{$data[0]['itemid']}" style="display: none;">

                <div class="mb-3">
                    <label class="form-label page-pretitle">Title(视频标题)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="title"  value="{$data[0]['title']}" placeholder="">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label page-pretitle">description (视频描述)</label>
                    <div class="input-group mb-2">
                    <textarea class="form-control" rows="6" name="description"  style="height: 150px;">{$data[0]['description']}</textarea>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">keyword (关键词)</label>
                    <div class="input-group mb-2">
                    <textarea class="form-control" rows="6" name="keyword"  style="height: 150px;">{$data[0]['keyword']}</textarea>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label page-pretitle">youtube_url (视频链接)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="youtube_url"  value="{$data[0]['youtube_url']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">youtube_short_url (youtube的短链url)</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="youtube_short_url"  value="{$data[0]['youtube_short_url']}" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label page-pretitle">timestamp (时间戳 Date:{$data[0]['timestamp']|date="Y-m-d H:i:s"})</label>
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="timestamp"  value="{$data[0]['timestamp']}" placeholder="">
                    </div>
                </div>




                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>

{include file='footer'}
