{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">视频管理 > Youtube视频列表 <span class="page-pretitle"> </span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>title</th>
            <th>description</th>
            <th>youtube_url</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="none" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/youtube/edit?itemid={$vo.itemid}">[=]</a></td>
              <td>{$vo.title|raw|substr=0,50}</td>
              <td>{$vo.description|raw|substr=0,50}</td>
              <td>{$vo.youtube_url|substr=0,80}</td>
              <td><a href="/{$admin_path}/youtube/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}