<footer>
    <div id="footerbox">

        <ul>
            <li><a href="/">{$Think.lang.footer_home}</a></li>
            <li>|</li>
            <li><a href="{$domain_url}url-click-counter">{$Think.lang.footer_url_click_counter}</a></li>
            <li>|</li>
            <li><a href="{$domain_url}report-malicious-url">{$Think.lang.footer_report_mailcious_url}</a></li>
            <li>|</li>
            <li><a href="{$domain_url}contact">{$Think.lang.footer_contact}</a></li>
            
        </ul>
        <br />
        <div class="copyright">© {$year_num} - {$Think.lang.footer_description}</div>
    </div>
</footer>
</div>

<script language="javascript">
    $(document).ready(function () {
        $("#menu_button_box").click(function () {
            $(".menu_list_box").toggle(200);
        });

        $(".menu_search_box").click(function () {
            $(".menu_search_button").toggle();
        });
    });
</script>
<!-- Google adsense - US -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4323013962854384" crossorigin="anonymous"></script>
     
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11284925334"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11284925334');
</script>
<!-- Event snippet for page views conversion page -->
<script>
    gtag('event', 'conversion', {'send_to': 'AW-11284925334/JTC9CMP4-MsYEJaXiYUq'});
  </script>
  
</body>
</html>