{include file="/header_1" /}
<main>
<section id="urlbox">
<h2>{$Think.lang.shortener_batch_index_h1}</h2>
<br/>
<form action="/shortener-batch" method="post">

    <input type="text" name="hash_str" value="" id="hash_str" style="display: none;">
    <div class="check_site_id">
        <ul>
            <li>
                <span class="check_site_id_span_one">{$Think.lang.index_customize_link_pc}</span>
                <span class="check_site_id_span_two">{$Think.lang.index_customize_link_m}</span>
            </li>
            {volist name="customize_data" id="vo"}
            <li>
                <input type="radio" name="check_site_id" value="{$vo.itemid}"  {if $vo.is_checked eq 1}checked{/if}>
                <span>{$vo.domain_url}</span>
            </li>
            {/volist}
            <div class="clear"></div>
        </ul>
    </div>
    <textarea name="batch_url"  id="formurl_textarea" value="" onfocus="if(this.value=='{$Think.lang.shortener_batch_text_area}') {this.value='';}this.style.color='#999';" 

    onblur="if(this.value=='') {this.value='{$Think.lang.shortener_batch_text_area}';this.style.color='#999';}">{$Think.lang.shortener_batch_text_area}</textarea>

        <div id="formurl_formbutton">
        <input type="submit" value="{$Think.lang.shortener_batch_from_button}">
        </div>

</form>

<br/>
<br/>
<br/>
<br/>
<br/>
<p class="boxtextcenter">{$Think.lang.shortener_batch_footer_description|raw}</p>
</section>


</main>

<script type="text/javascript" src="/static/js/5e20e1e5ddc34269647ce58a762859e5.js"></script>
<script language="javascript">
    timestamp("{$index_timestamp}");
</script>
{include file="/footer_1" /}