{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">链接监管 > {if $check_malicious_status eq 8}人工审核链接{/if} {if $check_malicious_status eq 9}嫌疑链接{/if} <span class="page-pretitle">(<a href="/{$admin_path}/malicious/update?check_malicious_status={$check_malicious_status}">批量设置状态值为2</a>)&nbsp;&nbsp;(php think check_malicious_2_local: {if ($now_timestamp-$check_malicious_2_local_status_time ) lt 1000}Running{else}Stop{/if})&nbsp;&nbsp;</span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>itemid</th>
            <th>edit</th>
            <th>access_url</th>
            <th>short_url</th>
            <th>hits</th>
            <th>is_404</th>
            <th>display_ad</th>
            <th>linkurl_site</th>
            <th>url</th>
            <th>country</th>
            <th>date</th>
            <th>remote_ip</th>
            <th>language</th>
            <th>is_pc</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="" }

            <tr>
              <td>{$vo.itemid}</td>
              <td><a href="/{$admin_path}/shortener/edit?itemid={$vo.itemid}">[=]</a></td>
              <td>{$vo.access_url}</td>
              <td><a href="/{$admin_path}/referer/querypost?short_str={$vo.short_url}">{$vo.short_url}</a></td>
              <td>{$vo.hits}</td>
              <td>{$vo.is_404}</td>
              <td>{$vo.display_ad}</td>
              <td><a href='{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}' target="_blank">{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}</a></td>
              <td style="max-width: 400px;overflow: hidden;"><a href='{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain_url"]}/{$vo.short_url}' target="_blank">{$vo.url}</a></td>
              
              <td style="max-width: 150px;overflow: hidden;">{$vo.country}</td>
              <td style="max-width: 130px;overflow: hidden;">{$vo.timestamp|date='Y-m-d H:i'}</td>
              
              <td style="max-width: 120px;overflow: hidden;">{$vo.remote_ip}</td>
              <td style="max-width: 100px;overflow: hidden;">{$vo.accept_language}</td>
              <td>{$vo.is_pc}</td>
              <td><a href="/{$admin_path}/shortener/delete?itemid={$vo.itemid}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}